<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CategoryMapper">

    <select id="getAllCategories" resultType="com.bean.Category">
        select * from category;
    </select>

    <insert id="addNewCateGory" parameterType="com.bean.Category">
        insert into category set date =#{date},cateName=#{cateName};
    </insert>

    <update id="updateCateCoryById" parameterType="com.bean.Category">
        update category set cateName=#{cateName} where id=#{id }
    </update>
</mapper>
    
    
    
    