<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoleMapper">

    <select id="getRolesByUid" resultType="com.bean.Role">
        select r.name from roles r where id in(select ru.rid from roles_user ru where ru.uid=#{uid})
    </select>
</mapper>
    
    
    
    