<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TagsMapper">

    <delete id="deleteTagsByArticleId">
        delete from article_tags where aid=#{aid}
    </delete>

    <insert id="saveTags">
        insert ignore into tags(tagName)  values
        <foreach collection="tags" item="tag"  separator=",">
            ( #{tag})
        </foreach>
    </insert>


    <select id="getTagsIdByTagsName" resultType="Integer">
        select id from tags where tagName in
        <foreach collection="tagsName" open="(" close=")" separator="," item="tagName">
            #{tagName}
        </foreach>

    </select>

    <insert id="addNewTags">
        insert into article_tags(aid,tid) values 
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{aid},#{tagId})
        </foreach>
    </insert>

</mapper>
    
    
    
    